AOI_2_Vegas
results
AOI_2_Vegas_Roads_Test_Public
test_results
related_papers/
venv/
__pycache__/
*.pth
*.tif
*.tiff
*.geojson
*.shp
debug
figures
kaggel_scripts
screenshots
old
data
logs
structure.txt
weights
*.gitignore